	 <%= form_with model: @student do |form| %>
	<div class="m-2 mb-0 p-2 border border-2 shadow-2">

		<div class="input-group mb-3">
		  <span class="input-group-text "  style="width: 120px;">Name</span>
		  <%= form.text_field :name ,class: "form-control", placeholder:"Name" %>
		</div>
		<div class="container ms-0"> 
			<div class="row">
				<div class="input-group mb-2 p-0" style="width: 25%;">
				  	<span class="input-group-text "  style="width: 120px;">Subject</span>
					<%= form.select :subject, ["Math", "Physics", "Math+Physics", "Math OGE", "Phys OGE", "Math EGE", "Phys EGE"],{}, class:"form-select" %>
		  		</div>
				<div class="input-group mb-2 "style="width: 25%;">
				  <span class="input-group-text" style="width: 120px;">Class</span>
					<%= form.select :class_in_school, (6..11).to_a , {} , class:"form-select" %>
				</div>
			</div>
			<div class="row"> 
				<div class="input-group mb-2 p-0" style="width: 25%;">
				  <span class="input-group-text "  style="width: 120px;">Location</span>
					<%= form.select :location, ["Online", "Home"], {} , class:"form-select" %>
				</div>
				<div class="input-group mb-2 " style="width: 25%;">
				  <span class="input-group-text " style="width: 120px;">Paybyhour</span>
				 <%= form.select :pay_by_hour, [700,800,900,1000] , {} , class:"form-select" %>
				</div>
			</div>
		</div>
		<div class="input-group mb-3">
				  <span class="input-group-text" id="basic-addon2" style="width: 120px;">Other</span>
				  <%= form.text_field :other ,class: "form-control", placeholder:"Other" %>
		</div>
	</div>
		<div class="mx-2  ">
            <%= form.submit "create!" , class:"mt-3 btn btn-outline-dark btn-lg" %>
		</div>
	 <% end %>
